/* 
GLOBAL STYLES
*/
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 0;
    width: 100vw;
    text-align: center;
}

img{
    max-width: 100%;
}

hr{
    width: 100%;
    opacity: 0.5rem;
    color: black;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

/*
HEADER SECTION
*/
header{
    background-color: rgb(167, 122, 64);
    padding: 1rem;
    height: 100vh;

}

nav ul{
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

nav li{
    margin: 0 1rem;

}

header h1{
    font-size: 3rem;
}

header p{
    font-size: 1.5rem;
    padding: 1rem 0;
    border-bottom: 1px solid white;
}

.rotate{
    margin-top: 2rem;
    font-size: 3rem;
    opacity: 0.4;
}

/*
PARALLAX SECTION
*/

.parallax{
background-image: url('images/conny-schneider-s8JOKMUiyo4-unsplash.jpg');
height: 100vh;
background-position: center;
background-size: cover;
background-attachment: fixed;
}

.parallax ul{
    color: gainsboro;
    font-size: 1.5rem;
    padding: 1rem;
}

.parallax li{
    margin: 1rem 0;
}
